.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-gap:2%;
  padding: 4rem;
}

.al-self{
  align-self: start;
  position: sticky;
  top: 0;
}

img.al-self{
  border-radius: 50%;
  vertical-align: middle;
  height: 150px;
}

