.grid-container {
  display: grid;
  grid-template-columns: 20px 20% 50% 20%;
  grid-gap:2%;
  padding: 0;
}

.al-self{
 
  position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}



