






@media(min-width:$desktop-breakpoint){
    .header{
        margin-bottom: $m-size;
    }
    .header__title{
        font-size: $l-size;
    }
    .header__subtitle{
        font-size: $l-size;
    }
}