.title{
    font-size:150%;
    color: rgb(182, 126, 126);
    margin-bottom: $s-size;
    padding-top: 20px;
    
}

.sub-title{
    font-size: 120%;
    color: rgb(107, 59, 59);
    padding-inline-start: 5%;   
}

.al-left{
    text-align: left;
}

.al-center{
    text-align: center;
}
