//widget header
.widget{
    background: $light-blue;
}
.widget-header{
    background: $blue;
    color: $off-white;
    padding: $s-size;
    display: flex;
    justify-content: space-between;
}

.widget-header-title{
    margin: 0;

}

.widget-element{
    color:$off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid darken($color: $light-blue, $amount: 10%);
}